<header>
<h1>TikTok</h1>
<p>Welcome, <a href="/profile/<%=session[:user]["id"]%>"><%=session[:user]["name"]%></a>| <a href="../logout">logout</a>
</header>
<h2><%=session[:view_user]["name"]%>'s Followers</h2>

<table>                         
  <tr>                          
    <th>Username</th>
    <th>Date</th>
  </tr>
<% @data.each do |data| %>
  <tr>
    <td><%= data.name %></td>
    <td><%= data.created_at %></td>
  </tr>
<% end %>
</table>    